.center {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px;

	.pulse {
		width: 10px;
		height: 10px;
		background: rgb(7, 115, 162);
		border-radius: 50%;
		color: #fff;
		animation: animate 3s linear infinite;
		animation-duration: 2s;
	}
}

@keyframes animate
{
	0%
	{
		box-shadow: 0 0 0 0 rgba(7, 115, 162, .7), 0 0 0 0 rgba(7, 115, 162, .7);
	}
	40%
	{
		box-shadow: 0 0 0 14px rgba(7, 115, 162, .7), 0 0 0 0 rgba(7, 115, 162, .7);
	}
	80%
	{
		box-shadow: 0 0 0 14px rgba(7, 115, 162, .7), 0 0 0 8px rgba(7, 115, 162, .7);
	}
	100%
	{
		box-shadow: 0 0 0 0 rgba(7, 115, 162, .7), 0 0 0 8px rgba(7, 115, 162, .7);
	}
}
