.miniMenu {
	background: linear-gradient(180deg, #3ED0D0 31.25%, #0672A2 100%);
	position: absolute;
	top: 120px;
	left: calc(96% - 150px);

	.miniMenuBody {
		width: 160px;
		padding: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		font-weight: bold;

		&__item {
			margin-top: 8px;
			cursor: pointer;
			font-size: 1.4rem;

			display: flex;
			justify-content: center;
			align-items: center;

			.name {
				margin-left: 4px;
			}

			&:hover {
				color: #e2d6d6;
			}
		}
	}
}
